:root
{
    --body-color: #434455;
    --text-decoration: none;
    --font-family: sans-serif;
    --text-align: center;
    --font-weight: 500;
    --background-color: #ffffff;
    --brand-color: #4d5ae5;
    --logo-and-link-color: #2e2f42;
    --footer-paragraph-and-logo: #f4f4fd;
    --click-and-focus: #404bbf;
}
.container{
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
h2,h3,p{
    margin:0;
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.box-shadow:hover
{
    box-shadow: 15px 15px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body
{
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
    background-color: var(--background-color);
}
 /*Header*/

 header{
    border-bottom: 1px solid #E7E9FC;
 }
 .menu-nav{
    display: flex;
    align-items: center;
 }
 .logo-link{
    display: flex;
    align-items: center;
 }
 .nav-list{
    margin: 0 0 0 76px;
    padding: 24px 0;
    display: flex;
    align-items: center;
 }
 .logo
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
}
.link
{
    text-decoration: none;
}
.products > li:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navy
{
    color: var(--logo-and-link-color);
}
.list
{
    list-style: none;
    display: flex;
    gap:40px;

}
.navbar
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-and-link-color);
}
.navbar:hover,
.navbar:focus
{
    color: var(--click-and-focus);
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address
{
    font-style: normal;
    margin-left: auto;
}
.address-link
{   font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.adress-link:hover,
.adress-link:focus
{
    color: var(--click-and-focus);
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.underline{
    position: relative;
    color: #404bbf;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--click-and-focus);
    border-radius: 2px;
        transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*Main*/
.section
{text-align: center;
    padding: 188px 0;
    border: none;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-color: #2E2F42B2;
    background-position: center;
    flex-shrink: 0;
    background-size: auto;
}

.first-main
{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.first-button
{
background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: inline-flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    align-items: flex-start;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.first-button:hover,
.first-button:focus
{
    background-color: #404bbf;
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages{
    padding: 120px 0;
}
.advantages-list{
    justify-content: center;
    align-items: center;
    gap: 24px;
}.icon-list{
    width: 264px;
}
.advantages-icon{
        border-radius: 4px;
            background: var(--footer-paragraph-and-logo);
            text-align: center;
            padding: 24px 100px;
            margin-bottom: 8px;
}
.what-are-we-doing{
    padding-bottom: 120px;
}
.what-are-we-doing-list{
gap: 24px;
}
.second-and-third-main
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-and-link-color);
    margin-bottom: 8px;
}

.description
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.second-main
{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-and-link-color);
    padding-bottom: 72px;
}

.bold-second-main
{
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-and-link-color);
    font-weight: 500;
}

.team
{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list{
    gap: 24px;
    display: flex;
}
.team-description{
    padding: 32px 0;
}
.social-media-person{
    display: flex;
        gap: 24px;
        justify-content: center;
        margin-top: 8px;
}
.team-svg{

        border-radius: 50%;
        background-color: #4D5AE5;
        width: 40px;
        height: 40px;
        display: flex; align-items: center; justify-content: center;
    }

.team-svg:hover,
.team-svg:focus {
    background-color: var(--click-and-focus);
        transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item
{
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.second-adress-link
{
    color: var(--click-and-focus);
}

.adress-link2:hover,
.adress-link2:focus
{
    color: var(--click-and-focus);
        transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-buttons
{    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--brand-color);
    background-color: var(--footer-paragraph-and-logo);
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
}

.menu-buttons:hover,
.menu-buttons:focus
{
    color: #ffffff;
    background-color: #404bbf;
        transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons{
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}
.menu-products{
    padding: 96px 0 120px 0;
}
.products{
    flex-wrap: wrap;
    gap: 48px 24px;
}
.border{
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    border-top: none;
    margin:0;
}.customers{
    padding: 120px 0;
}
.svg-customers:hover,
.svg-customers:focus {
    fill: var(--click-and-focus);
        transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.third-main{
        font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--logo-and-link-color);
            padding-bottom: 72px;
}
.clients-list{
        display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
}
.clients{
    border-radius: 4px;
    border: 1px solid #8E8F99;
    width: 168px;
    height: 88px;}
        .clients:hover,
        .clients:focus {
            border-color: var(--click-and-focus);
        }
                .svg-customers {
                    fill: #8e8f99;}
.overlay {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms ease-in-out;
        background-color: var(--brand-color);
}

.product:hover .overlay {
transform: translateY(0);
transition-property: background-color, transform, color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
color: #F4F4FD;
font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px;}
 
/*Footer*/
.footer-background
{
    background-color: var(--logo-and-link-color);
    padding: 100px 0;
}
.footer-and-icons {
    display: flex;
    align-items: center;
}
.footer-paragraph
{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-paragraph-and-logo);
    width:264px;
}
.white
{
    color: #f4f4fd;
}
.icons {
    margin: 120px 0;
}
.title {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-left: 120px;
    margin-bottom: 16px;
}
.svg-footer {
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex; align-items: center; justify-content: center;}
        .svg-footer:hover,
        .svg-footer:focus {
            cursor: pointer;
            background-color: #31d0aa;
            transition: var(--transition);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        }
.social-media-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-left: 120px;
}
/*Modal*/
.modal {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transition: opacity 250ms;
}

.modal-body {
    position: relative;
    width: 408px;
    height: 584px;
    margin: 80px auto;
    background-color: #fff;
    transition: scale 250ms;
    border-radius: 4px;

}

.modal-close {
    position: absolute;
    inset: 1em 1em auto auto;
    fill: var(--cornflower, #E7E9FC);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.is-hidden .modal-body {
    scale: 0;
}

.modal:not(.is-hidden) .modal-body {
    scale: 1;
}
